@use "../base/variable.scss";
@use "../base/mixins.scss";


.contact_banner_section {
    margin-top: 162px;
    padding-top: 90px;
    position: relative;
    overflow-x: clip;

    .contact_gradient {
        top: -95%;
        right: -15%;
    }

    .parent_area {
        h3 {
            font-size: 100px;
            font-weight: 400;
            color: transparent;
            background: linear-gradient(235.73deg, #FFFFFF 56.3%, #45FFD1 93.53%);
            line-height: 130px;
            background-size: 300% 300%;
            background-clip: text;
            -webkit-background-clip: text;
            animation: gradient-move 3s infinite linear;
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }

        p {
            font-size: 18.13px;
            font-weight: 300;
            text-align: center;
            color: variable.$white;
            padding-top: 20px;
            width: 60%;
            margin: 0 auto;
        }

        .buttons_area {
            padding-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .btn-primary {
                border-radius: 60px;

                &.btn_1 {
                    color: variable.$black;
                    background-color: variable.$dark_primary2;

                    &:hover {
                        background-color: variable.$dark_primary;
                    }
                }

                &.btn_2 {
                    color: variable.$white;
                    border: 1px solid variable.$teal;

                    &:hover {
                        background-color: variable.$teal;
                    }
                }
            }
        }
    }
}


@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}



/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .contact_banner_section {
        .parent_area {
            h3 {
                font-size: 85px;
                line-height: normal;
            }
        }
    }
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .contact_banner_section {
        margin-top: 132px;
        padding-top: 70px;

        .parent_area {
            h3 {
                font-size: 85px;
                line-height: 90px;
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .contact_banner_section {
        margin-top: 132px;
        padding-top: 70px;

        .parent_area {
            h3 {
                font-size: 85px;
                line-height: 90px;

            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .contact_banner_section {
        margin-top: 120px;
        padding-top: 50px;

        .parent_area {
            h3 {
                font-size: 70px;
                line-height: 80px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .contact_banner_section {
        margin-top: 120px;
        padding-top: 40px;

        .parent_area {
            h3 {
                font-size: 60px;
                line-height: 80px;
                width: 100%;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .contact_banner_section {
        margin-top: 90px;
        padding-top: 30px;

        .parent_area {
            h3 {
                font-size: 45px;
                width: 100%;

                line-height: 60px;
            }

            p {
                font-size: 14px;
                width: 100%;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .contact_banner_section {
        margin-top: 90px;
        padding-top: 25px;

        .parent_area {
            h3 {
                width: 100%;
                font-size: 40px;
                line-height: 50px;
            }

            p {
                font-size: 14px;
                width: 100%;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .contact_banner_section {
        margin-top: 90px;
        padding-top: 25px;

        .parent_area {
            h3 {
                width: 100%;

                font-size: 40px;
                line-height: 50px;
            }

            p {
                font-size: 14px;
                width: 100%;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}