@use "../base/variable.scss";
@use "../base/mixins.scss";

.industry {
    padding-top: 90px;
    // overflow: clip;
    overflow-x: clip;

    .parent_area {
        .left {
            .title {
                h3 {
                    font-size: 54px;
                    font-weight: 300;
                    line-height: 62px;
                    color: variable.$white;
                    margin-bottom: 15px;

                    span {
                        font-weight: 600;
                        color: variable.$primary_color;
                    }
                }

                h4 {
                    font-size: 54px;
                    font-weight: 100;
                    line-height: 62px;
                    color: variable.$white;
                    margin-bottom: 50px;
                }

                p {
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 36px;
                    color: variable.$white;
                }
            }
        }

        .right {
            .slider_area {
                height: 100%;
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                overflow-x: clip;
                gap: 150px;

                .img_area {
                    width: 700px;
                    height: 700px;
                    padding-left: 10px;
                    margin-left: 60%;

                    img {
                        animation: rotate 50s linear infinite;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .slide {
                    position: absolute;
                    right: 0;
                    @include mixins.transition(all 0.9s ease);
                    width: fit-content;
                    height: fit-content;
                    transform: translateY(-50%);
                    backdrop-filter: blur(22.656248092651367px);

                    &.top_right {
                        right: -50%;
                        top: 7%;
                    }

                    &.bottom_right {
                        right: -50%;
                        top: 92%;
                    }

                    &.prev {
                        top: 5%;
                    }

                    &.next {
                        top: 95%;
                    }

                    &.active {
                        z-index: 1;
                        top: 50%;
                        right: 10%;

                        .chip {
                            width: 561px;
                            padding: 40px 74px;
                            background-color: variable.$blue;

                            .title,
                            .desc {
                                transform: unset;
                                left: 0;
                                color: variable.$black;
                                text-align: left;
                            }

                            .title {
                                span {
                                    width: 100%;
                                    display: block;
                                    overflow: unset;
                                    text-overflow: unset;
                                    white-space: unset;
                                }
                            }
                        }
                    }

                    .chip {
                        margin-left: auto;
                        background: linear-gradient(274.2deg, rgba(247, 247, 247, 0.1) -0.59%, rgba(79, 79, 79, 0.1) 100%);
                        backdrop-filter: blur(23px);
                        border: 1.5px solid variable.$white;
                        border-radius: 15px;
                        padding: 32px;
                        width: 300px;
                        max-width: 100%;
                        height: 95px;
                        overflow: hidden;
                        @include mixins.transition(all 1s ease);

                        .title {
                            font-size: 27px;
                            font-weight: 400;
                            line-height: 30px;
                            // width: fit-content;
                            color: variable.$dark_primary2;
                            @include mixins.transition(all 1s ease);
                            position: relative;
                            // left: 50%;
                            // transform: translate(-50%);

                            span {
                                width: 250px;
                                display: block;
                                text-align: left;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }

                        .desc {
                            font-size: 18px;
                            margin-top: 25px;
                            font-weight: 300;
                            line-height: 27px;
                            color: variable.$dark_primary2;
                            @include mixins.transition(all 1s ease);
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}



/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .industry {
        padding-top: 70px;

        .parent_area {
            .left {
                .title {
                    h3 {
                        font-size: 45px;
                        line-height: 56px;
                    }

                    h4 {
                        font-size: 45px;
                        line-height: 56px;
                        margin-bottom: 40px;
                    }

                    p {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .industry {
        padding-top: 70px;

        .parent_area {
            .left {
                .title {
                    h3 {
                        font-size: 45px;
                        line-height: 56px;
                    }

                    h4 {
                        font-size: 45px;
                        line-height: 56px;
                        margin-bottom: 40px;
                    }

                    p {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .industry {
        padding-top: 60px;

        .parent_area {
            .left {
                .title {
                    h3 {
                        font-size: 45px;
                        line-height: 56px;
                    }

                    h4 {
                        font-size: 45px;
                        line-height: 56px;
                        margin-bottom: 40px;
                    }

                    p {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .industry {
        padding-top: 50px;

        .parent_area {
            .left {
                .title {
                    h3 {
                        font-size: 35px;
                        line-height: 46px;
                    }

                    h4 {
                        font-size: 35px;
                        line-height: 46px;
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }

            .right {
                .slider_area {
                    .img_area {
                        margin-left: 40%;
                        height: 600px;
                        width: 600px;
                    }

                    .slide {
                        &.active {
                            .chip {
                                width: 100%;
                                padding: 20px 30px;
                            }
                        }

                        .chip {
                            border-radius: 10px;
                            padding: 20px;
                            width: 200px;
                            height: 70px;

                            .title {
                                font-size: 22px;
                            }

                            .desc {
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .industry {
        padding-top: 40px;

        .parent_area {
            .left {
                .title {
                    h3 {
                        font-size: 28px;
                        line-height: 30px;
                    }

                    h4 {
                        font-size: 28px;
                        line-height: 30px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }

            .right {
                .slider_area {
                    .img_area {
                        margin-left: 50%;
                        height: 500px;
                        width: 500px;
                    }

                    .slide {
                        &.active {
                            .chip {
                                width: 70%;
                                padding: 15px;
                            }
                        }

                        .chip {
                            border-radius: 10px;
                            padding: 20px;
                            width: 200px;
                            height: 70px;

                            .title {
                                font-size: 20px;
                            }

                            .desc {
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .industry {
        padding-top: 30px;

        .parent_area {
            .left {
                .title {
                    h3 {
                        font-size: 22px;
                        line-height: 30px;
                    }

                    h4 {
                        font-size: 22px;
                        line-height: 30px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

            .right {
                .slider_area {
                    .img_area {
                        margin-left: 60%;
                        height: 400px;
                        width: 400px;
                    }

                    .slide {
                        &.active {
                            .chip {
                                width: 70%;
                                padding: 15px;
                            }
                        }

                        .chip {
                            border-radius: 6px;
                            padding: 15px;
                            width: 150px;
                            height: 50px;

                            .title {
                                font-size: 16px;
                                line-height: 18px;
                            }

                            .desc {
                                margin-top: 12px;
                                font-size: 14px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .industry {
        padding-top: 25px;

        .parent_area {
            .left {
                .title {
                    h3 {
                        font-size: 20px;
                        line-height: 26px;
                    }

                    h4 {
                        font-size: 20px;
                        line-height: 26px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }

            .right {
                .slider_area {
                    .img_area {
                        margin-left: 40%;
                        height: 300px;
                        width: 300px;
                    }

                    .slide {
                        &.active {
                            .chip {
                                width: 100%;
                                padding: 15px;
                            }
                        }

                        .chip {
                            border-radius: 6px;
                            padding: 10px;
                            width: 120px;
                            height: 40px;

                            .title {
                                font-size: 16px;
                                line-height: 18px;
                            }

                            .desc {
                                margin-top: 12px;
                                font-size: 14px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .industry {
        padding-top: 20px;

        .parent_area {
            .left {
                .title {
                    h3 {
                        font-size: 20px;
                        line-height: 26px;
                    }

                    h4 {
                        font-size: 20px;
                        line-height: 26px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }

            .right {
                .slider_area {
                    .img_area {
                        margin-left: 40%;
                        height: 300px;
                        width: 300px;
                    }

                    .slide {
                        &.active {
                            .chip {
                                width: 100%;
                                padding: 15px;
                            }
                        }

                        .chip {
                            border-radius: 6px;
                            padding: 10px;
                            width: 120px;
                            height: 40px;

                            .title {
                                font-size: 14px;
                                line-height: 18px;
                            }

                            .desc {
                                margin-top: 12px;
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}