@use "../base/variable.scss";
@use "../base/mixins.scss";


.animate_up {
    opacity: 0;
    transform: translateY(100px);
    @include mixins.transition(all 0.5s ease-in-out);

    &.trigger {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-weight: 400;
    font-size: 14px;
    line-height: inherit;
    background: variable.$secondary_color;
    overflow-x: clip;
}

.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: variable.$secondary_color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    h1 {
        background: linear-gradient(90deg, #EAB03D 0%, #9543E5 100%);
        color: transparent;
        background-clip: text;
        font-size: 60px;
        font-weight: 600;
        text-align: center;
        animation: scaleUp .8s ease-in-out infinite alternate;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.no_event {
    pointer-events: none;
}

.scroll_off {
    overflow: hidden;
    @include mixins.ioshidden();
}



#pb_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    background-color: none;
}

#pb_scroll::-webkit-scrollbar {
    width: 5px;
    background-color: none;
}

#pb_scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(281.64deg, #fff 43.84%, #00ffd2 108.65%);
    ;
    border: 1px solid variable.$primary_color;
}



.form-group {
    padding-bottom: 20px;

    label {
        font-size: 14px;
        font-weight: 400;
        color: variable.$white;
        margin-bottom: 8px;
    }

    .text {
        font-size: 14px;
        font-weight: 400;
        color: variable.$white;
        margin-bottom: 8px;

    }

    textarea {
        resize: none;
    }

    .form-control {
        font-size: 14px;
        font-weight: 400;
        color: variable.$white;
        background: transparent;
        padding: 12px 15px;
        border-radius: 15px;
        border: 1px solid variable.$text_opacity;

        &::placeholder {
            color: variable.$text_opacity;
            font-weight: inherit;
            font-size: inherit;
        }

        &:focus {
            box-shadow: unset;
        }
    }

    .form-check-input:checked {
        background-color: variable.$dark_primary2;
        border-color: variable.$dark_primary2;

        &:focus {
            box-shadow: unset;
            border-color: unset;
        }
    }

    &:last-child {
        padding: 0;
    }
}





/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .btn-primary {
        font-size: 14px;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .btn-primary {
        font-size: 14px;
    }

    .btn-primary-1 {
        font-size: 14px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .btn-primary {
        font-size: 14px;
    }

    .btn-primary1 {
        font-size: 16px;
    }

    .page-loader {
        h1 {
            font-size: 30px;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .btn-primary {
        font-size: 14px;
    }

    .btn-primary1 {
        font-size: 14px;
    }

    .page-loader {
        h1 {
            font-size: 30px;
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .btn-primary {
        font-size: 14px;
    }

    .btn-primary1 {
        font-size: 14px;
    }

    .page-loader {
        h1 {
            font-size: 30px;
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}