$black: #000000;
$white: #ffffff;
$grey: #707173;
$red: #FF5500;

$primary_color: #45FFD0;
$secondary_color: #010012;
$wide_card_bg: #1C5C4C;
// Social Icons Color
$facebook: #1871e7;
$twitter: #1c99e7;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #dd0017;
$instagram: #e1376f;
$rss: #e98735;

$gradient: #1FD372;
$border_color: #FFFFFF4D;
$border_color2: #3C403C;
$off_white: #ADB3AB;
$off_white2: #D9D9D9;
$arrow_color: #ECEEEC;
$text_color: #D1D5DB;
$text_opacity: #FFFFFF99;
$btn_white_color: #010916;
$modal_color: #162133;
$blue: #00E0E0;
$blue2: #00E6FF;
$sea_green: #00FFD2;
$gray_text: #929292;
$white2: #fefefe;
$white3: #e1e1e1;
$grey_text3: #3C3C4399;
$grey_text4: #808080;
$grey_text5: #676767;
$grey_text6: #5E5E5E;
$dark_primary: #2abb97;
$dark_primary2: #38AE99;
$peacock_color: #17283E;
$light_text: #9CA8BB;
$dark_gray: #838383;
$teal: #30B0C7;
$txt_gray: #7E7E81;
$txt_gray2: #98989A;
$border_color3: #262626;
$border_color4: #545454;
$chip_bg: #1A1A1A;
$parallax_bg1: #7C4EE4;
$ai_text: #868686;

$bricologe : var(--font-bricologe);
$saira: Saira;