@use "../base/variable.scss";
@use "../base/mixins.scss";


.home_work_section {
    padding-top: 90px;
    position: relative;
    .parent_area {
        h3 {
            left: 0;
            right: 0;
            position: absolute;
            font-weight: 700;
            font-size: 64px;
            color: variable.$white;
            text-align: center;
            margin-bottom: 30px;

            span {
                color: variable.$primary_color;
            }
        }

        .work_area {
            .outer_circle {
                border: 1.5px solid variable.$border_color4;
                width: 400px;
                margin-inline: auto;
                border-radius: 50%;
                padding: 40px;
                position: relative;

                .rotate_img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform-origin: center;
                    transform: translate(-50%, -50%);
                    width: 85%;
                    height: 85%;

                    &.first {
                        animation: rotate1 50s linear infinite;

                        img {
                            animation: rotate3 50s linear infinite;
                        }
                    }

                    &.layer {
                        animation: rotate 50s linear infinite;

                        img {
                            animation: rotate2 50s linear infinite;
                        }
                    }

                    img {
                        width: fit-content;
                        height: fit-content;
                        object-fit: contain;
                    }
                }

                .dotted {
                    width: 100%;
                    position: relative;
                    height: auto;
                    padding: 20px;
                    border-radius: 50%;
                    animation: rotate4 50s linear infinite;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    .logo_area {
                        animation: rotate5 50s linear infinite;
                        height: 70%;
                        width: 70%;
                        position: absolute;
                        top: 50%;
                        left: 50%;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .list {
                margin-bottom: 40px;

                li {
                    font-weight: 700;
                    font-size: 16px;
                    color: variable.$white;
                    margin-bottom: 8px;
                    transition: all 0.3s ease;
                    
                    &:last-child {
                        margin-bottom: 0;
                    }

                    &.active {
                        color: variable.$primary_color;
                    }
                }
            }

            .pagination_area {
                font-weight: 400;
                font-size: 21.27px;
                margin-bottom: 3px;
                color: variable.$white;
                margin-bottom: 40px;
                margin-left: 50px;

                span {
                    display: block;

                    &:first-child {
                        color: variable.$primary_color;
                    }
                }
            }

            .slider_area {
                .swiper{
                    margin-bottom: 15px;
                    .swiper-slide{
                        .item{
                            position: relative;
                            padding-block: 90px;
                            p {
                                font-weight: 300;
                                color: variable.$white;
                                font-size: 19.5px;
                                width: 370px;
                                max-width: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 10%;
                                &.txt {
                                    top: 0;
                                    right: 10%;
                                    bottom: unset;
                                    left: unset;
                                }
            
                                strong {
                                    font-weight: 700;
                                }
                            }
                        }
                    }  
                }
                .btns{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    justify-content: flex-end;
                    .slide_btn{
                        padding: 10px 30px;
                        border-radius: 30px;
                        background-color: variable.$primary_color;
                        cursor: pointer;
                        &.swiper-button-disabled{
                            filter: grayscale(1);
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);

    }
}

@keyframes rotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(180deg);

    }
}

@keyframes rotate2 {
    0% {
        transform: translateX(100%) rotate(70deg);
    }

    100% {
        transform: translateX(100%) rotate(70deg);

    }
}

@keyframes rotate3 {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);

    }
}

@keyframes rotate4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotate5 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}





/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .home_work_section{
        .parent_area{
            h3{
                font-size: 50px;
            }
            .work_area{
                .slider_area{
                    .swiper{
                        .swiper-slide{
                            .item{
                                p{
                                    &.txt{
                                        right: 5%;
                                    }
                                }
                            }
                        }
                    }
                }
                .pagination_area{
                    margin-bottom: 30px;
                }
            }
        }
    }
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .home_work_section{
        padding-top: 70px;
        .parent_area{
            h3{
                font-size: 50px;
            }
            .work_area{
                .pagination_area{
                    margin-bottom: 30px;
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .home_work_section{
        padding-top: 70px;
        .parent_area{
            h3{
                font-size: 50px;
            }
            .work_area{
                .pagination_area{
                    margin-bottom: 30px;
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .home_work_section{
        padding-top: 50px;
        .parent_area{
            h3{
                font-size: 40px;
            }
            .work_area{
                .list{
                    margin-bottom: 30px;
                }
                .pagination_area{
                    margin-bottom: 20px;
                    span{
                        font-size: 18px;
                    }
                }
                .slider_area{
                    .swiper{
                        .swiper-slide{
                            .item{
                                p{
                                    left: 0;
                                    font-size: 17px;
                                    &.txt{
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .home_work_section{
        padding-top: 40px;
        .parent_area{
            h3{
                font-size: 30px;
            }
            .work_area{
                .list{
                    margin-bottom: 20px;
                }
                .pagination_area{
                    margin-bottom: 20px;
                    span{
                        font-size: 16px;
                    }
                }
                .slider_area{
                    .swiper{
                        .swiper-slide{
                            .item{
                                padding-block: 110px;
                                .outer_circle {
                                    width: 340px;
                                    padding: 15px;
                
                                    .rotate_img {
                                        width: 87%;
                                        height: 87%;
                                    }
                
                                    .dotted {
                                        padding: 30px;
                
                                        .logo_area {
                                            width: 60%;
                                            height: 60%;
                                        }
                                    }
                                }
                                p{
                                    left: 0;
                                    font-size: 16px;
                                    &.txt{
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .home_work_section{
        padding-top: 30px;
        .parent_area{
            h3{
                font-size: 24px;
            }
            .work_area{
                .list{
                    margin-bottom: 15px;
                }
                .pagination_area{
                    margin-bottom: 15px;
                    span{
                        font-size: 16px;
                    }
                }
                .slider_area{
                    .swiper{
                        .swiper-slide{
                            .item{
                                padding-block: 110px;
                                .outer_circle {
                                    width: 300px;
                                    padding: 15px;
                
                                    .rotate_img {
                                        width: 90%;
                                        height: 90%;
                                    }
                
                                    .dotted {
                                        padding: 30px;
                
                                        .logo_area {
                                            width: 60%;
                                            height: 60%;
                                        }
                                    }
                                }
                                p{
                                    left: 0;
                                    font-size: 14px;
                                    &.txt{
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .home_work_section{
        padding-top: 25px;
        .parent_area{
            h3{
                font-size: 20px;
                margin-bottom: 15px;
                position: static;
            }
            .work_area{
                position: relative;
                .list{
                    margin-bottom: 15px;
                }
                .pagination_area{
                    position: absolute;
                    margin-bottom: 15px;
                    top: 20%;
                    right: 10%;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    span{
                        font-size: 16px;
                    }
                }
                .slider_area{
                    .swiper{
                        .swiper-slide{
                            .item{
                                padding-top: 25px;
                                padding-bottom: 0;
                                .outer_circle {
                                    width: 270px;
                                    padding: 15px;
                                    margin-bottom: 25px;
                                    .rotate_img {
                                        width: 90%;
                                        height: 90%;
                                    }
                
                                    .dotted {
                                        padding: 25px;
                
                                        .logo_area {
                                            width: 60%;
                                            height: 60%;
                                        }
                                    }
                                }
                                p{
                                    position: static;
                                    left: 0;
                                    width: 100%;
                                    font-size: 14px;
                                    margin-top: 15px;
                                    &.txt{
                                        right: 0;
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .home_work_section{
        padding-top: 25px;
        .parent_area{
            h3{
                position: static;
                font-size: 20px;
                margin-bottom: 15px;
            }
            .work_area{
                position: relative;
                .list{
                    margin-bottom: 15px;
                }
                .pagination_area{
                    position: absolute;
                    margin-bottom: 15px;
                    top: 20%;
                    right: 10%;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    span{
                        font-size: 16px;
                    }
                }
                .slider_area{
                    .swiper{
                        .swiper-slide{
                            .item{
                                padding-top: 25px;
                                padding-bottom: 0;
                                .outer_circle {
                                    width: 270px;
                                    padding: 15px;
                                    margin-bottom: 25px;
                                    .rotate_img {
                                        width: 90%;
                                        height: 90%;
                                    }
                
                                    .dotted {
                                        padding: 25px;
                
                                        .logo_area {
                                            width: 60%;
                                            height: 60%;
                                        }
                                    }
                                }
                                p{
                                    position: static;
                                    left: 0;
                                    font-size: 14px;
                                    margin-top: 15px;
                                    &.txt{
                                        right: 0;
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}