@use "../base/variable.scss";
@use "../base/mixins.scss";

.home_ai_solutions_section {
    padding-top: 90px;
    overflow-x: clip;

    .parent_area {
        h3 {
            font-weight: 400;
            font-size: 64px;
            text-align: center;
            color: variable.$white;
            margin-bottom: 90px;
        }

        .button_area {
            text-align: center;
            padding-top: 20px;
        }

        .content {
            position: relative;
            padding: 200px 0 100px;

            .img_wrapper {
                width: 327px;
                height: 317px;
                margin-inline: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .item {
                position: absolute;
                display: inline-flex;
                align-items: center;
                gap: 12px;
                padding: 15px;
                top: 0;
                left: 15%;

                &::before {
                    content: '';
                    position: absolute;
                    background-image: url('../../images/Union.png');
                    background-repeat: no-repeat;
                    // inset: 0;
                    // background-size: contain;
                    top: 53%;
                    transform: translateY(-49%);
                    left: 6px;
                    width: 100%;
                    height: 100%;
                }

                .line {
                    position: absolute;
                    bottom: -90%;
                    right: 10%;
                    width: 211px;
                    height: auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .img_wrapper {
                    flex-shrink: 0;
                    width: 90px;
                    height: 90px;
                    border: 0.63px solid;
                    border-image-source: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)),
                        linear-gradient(35.22deg, rgba(255, 255, 255, 0) 33.61%, #FFFFFF 89.19%);
                    border-radius: 50%;
                    padding: 20px;
                    position: relative;
                    margin: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        background-image: url('../../../public/images/double_round.png');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center;

                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .item_content {
                    width: 450px;
                    max-width: 100%;

                    h3 {
                        font-weight: 500;
                        font-size: 17.19px;
                        line-height: 25.78px;
                        color: variable.$white;
                        text-align: left;
                        margin-bottom: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        white-space: nowrap;
                        margin-bottom: 10px;
                    }

                    p {
                        font-weight: 400;
                        font-size: 13.97px;
                        line-height: 21.49px;
                        color: variable.$white;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &.item_2 {
                    top: 20%;
                    right: 4%;
                    left: unset;

                    .line {
                        width: 100px;
                        right: 80%;
                        bottom: -60%;
                    }
                }

                &.item_3 {
                    top: unset;
                    bottom: 2%;
                    left: 12%;

                    .line {
                        width: 100px;
                        right: 0%;
                        bottom: -10%;
                    }
                }
            }
        }
    }
}






/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {
    .home_ai_solutions_section {
        padding-top: 70px;

        .parent_area {
            h3 {
                font-size: 45px;
                margin-bottom: 70px;
            }

            .content {
                .item {
                    left: 9%;

                    &.item_2 {
                        right: 0%;
                        top: 14%;

                        .line {
                            right: 77%;
                        }
                    }

                    &.item_3 {
                        left: 7%;
                    }
                }
            }
        }
    }
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .home_ai_solutions_section {
        padding-top: 70px;

        .parent_area {
            h3 {
                font-size: 45px;
                margin-bottom: 70px;
            }

            .content {
                .item {
                    left: 9%;

                    &.item_2 {
                        right: 0%;
                        top: 14%;

                        .line {
                            right: 77%;
                        }
                    }

                    &.item_3 {
                        left: 7%;
                    }
                }
            }
        }
    }
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .home_ai_solutions_section {
        padding-top: 70px;

        .parent_area {
            h3 {
                font-size: 45px;
                margin-bottom: 70px;
            }

            .content {
                .item {
                    left: 9%;

                    &.item_2 {
                        right: 0%;
                        top: 14%;

                        .line {
                            right: 77%;
                        }
                    }

                    &.item_3 {
                        left: 7%;
                    }
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .home_ai_solutions_section {
        padding-top: 70px;

        .parent_area {
            h3 {
                font-size: 45px;
                margin-bottom: 70px;
            }

            .content {
                .item {
                    left: 9%;

                    &.item_2 {
                        right: 0%;
                        top: 14%;

                        .line {
                            right: 77%;
                        }
                    }

                    &.item_3 {
                        left: 7%;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .home_ai_solutions_section {
        padding-top: 50px;

        .parent_area {
            h3 {
                font-size: 35px;
                margin-bottom: 50px;
            }

            .content {
                .img_wrapper {
                    width: 270px;
                    height: 262px;
                }

                .item {
                    left: 10%;

                    .item_content {
                        width: 260px;
                    }

                    &.item_2 {
                        right: 0%;
                        top: 14%;

                        .line {
                            right: 77%;
                        }
                    }

                    &.item_3 {
                        left: 7%;

                        .line {
                            right: -10%;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .home_ai_solutions_section {
        padding-top: 40px;

        .parent_area {
            h3 {
                font-size: 25px;
                margin-bottom: 40px;
            }

            .content {
                .img_wrapper {
                    width: 200px;
                    height: 194px;
                }

                .item {
                    left: 0;

                    .line {
                        right: -10%;
                    }

                    .item_content {
                        width: 200px;
                    }

                    &.item_2 {
                        right: 0%;
                        top: 14%;

                        .line {
                            right: 60%;
                        }
                    }

                    &.item_3 {
                        left: 0;

                        .line {
                            right: -20%;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .home_ai_solutions_section {
        padding-top: 30px;

        .parent_area {
            h3 {
                font-size: 22px;
                margin-bottom: 30px;
            }

            .content {
                padding: 150px 0 100px;

                .img_wrapper {
                    width: 200px;
                    height: 194px;
                }

                .item {
                    left: 0;
                    top: 0;

                    &::before {
                        inset: 0;
                        height: 100%;
                        background-size: cover;
                        transform: unset;
                    }

                    .img_wrapper {
                        width: 60px;
                        height: 60px;
                        padding: 10px;
                    }

                    .line {
                        right: -10%;
                        width: 165px;
                    }

                    .item_content {
                        width: 200px;

                        h3 {
                            font-size: 14.19px;
                            line-height: 15.78px;
                        }

                        p {
                            font-size: 11.97px;
                            line-height: 16.49px;
                        }
                    }

                    &.item_2 {
                        right: 0%;
                        top: 11%;

                        .line {
                            right: 60%;
                            width: 75px;
                        }
                    }

                    &.item_3 {
                        left: 0;

                        .line {
                            right: -10%;
                            width: 75px;
                            bottom: 25%;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .home_ai_solutions_section {
        padding-top: 35px;

        .parent_area {
            h3 {
                font-size: 20px;
                margin-bottom: 15px;
            }

            .content {
                padding: 0;

                .img_wrapper {
                    width: 150px;
                    height: 145px;
                    margin-bottom: 25px;
                }

                .item {
                    position: relative;
                    left: 0;
                    margin-bottom: 15px;

                    &::before {
                        inset: 0;
                        height: 100%;
                        background-size: cover;
                        transform: unset;
                        display: none;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .img_wrapper {
                        width: 60px;
                        height: 60px;
                        padding: 10px;

                        &::before {
                            display: none;
                        }
                    }

                    .line {
                        display: none;
                    }

                    .item_content {
                        width: 100%;

                        h3 {
                            font-size: 14.19px;
                            line-height: 15.78px;
                            overflow: unset;
                            text-overflow: unset;
                            white-space: unset;
                        }

                        p {
                            font-size: 13px;
                            line-height: 20.49px;
                            overflow: unset;
                            text-overflow: unset;
                            white-space: unset;
                            display: block;
                        }
                    }

                    &.item_2 {
                        right: 0%;
                        top: 0;

                        .line {
                            right: 60%;
                            width: 75px;
                        }
                    }

                    &.item_3 {
                        left: 0;

                        .line {
                            right: -10%;
                            width: 75px;
                            bottom: 25%;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .home_ai_solutions_section {
        padding-top: 35px;

        .parent_area {
            h3 {
                font-size: 20px;
                margin-bottom: 15px;
            }

            .content {
                padding: 0;

                .img_wrapper {
                    width: 150px;
                    height: 145px;
                    margin-bottom: 25px;
                }

                .item {
                    position: relative;
                    left: 0;
                    margin-bottom: 15px;

                    &::before {
                        inset: 0;
                        height: 100%;
                        background-size: cover;
                        transform: unset;
                        display: none;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .img_wrapper {
                        width: 60px;
                        height: 60px;
                        padding: 10px;

                        &::before {
                            display: none;
                        }
                    }

                    .line {
                        display: none;
                    }

                    .item_content {
                        width: 100%;

                        h3 {
                            font-size: 14.19px;
                            line-height: 18px;
                            overflow: unset;
                            text-overflow: unset;
                            white-space: unset;
                            display: block;
                        }

                        p {
                            font-size: 11.97px;
                            line-height: 19px;
                            overflow: unset;
                            text-overflow: unset;
                            white-space: unset;
                            display: block;
                        }
                    }

                    &.item_2 {
                        right: 0%;
                        top: 0;

                        .line {
                            right: 60%;
                            width: 75px;
                        }
                    }

                    &.item_3 {
                        left: 0;

                        .line {
                            right: -10%;
                            width: 75px;
                            bottom: 25%;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}