@use "../base/variable.scss";
@use "../base/mixins.scss";



.home_cards_section {
    padding-top: 90px;
    position: relative;

    .gradient {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .parent_area {
        h3 {
            font-size: 48.33px;
            font-weight: 500;
            color: variable.$white;
            text-align: center;
            padding-bottom: 60px;

            span {
                color: variable.$primary_color;
            }
        }

        .row {
            row-gap: 20px;
        }

        .card_inner {
            padding: 35px;
            border-radius: 20px;
            z-index: 1;
            position: relative;

            &.card_2 {
                margin-top: 8%;
            }

            &.card_3 {
                margin-top: 15%;
            }

            &.card_5 {
                margin-top: 8%;
            }

            &.card_6 {
                margin-top: 15%;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                border-radius: 20px;
                background: linear-gradient(180deg, #45FFD1 0%, rgba(69, 227, 255, 0.15) 100%);
                padding: 2px;
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
            }

            .logo_parent {
                height: 70px;
                width: 70px;
                border: 1px solid variable.$primary_color;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                .logo_area {
                    height: 25px;
                    width: 25px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        filter: brightness(0) invert(1);
                    }
                }
            }

            h3 {
                font-size: 20.13px;
                font-weight: 500;
                color: variable.$white;
                padding-top: 30px;
                padding-bottom: 0;
                text-align: left;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: variable.$text_opacity;
                padding-top: 10px;
            }
        }
    }
}




/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .home_cards_section {
        padding-top: 70px;
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .home_cards_section {
        padding-top: 70px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .home_cards_section {
        padding-top: 50px;

        .parent_area {
            h3 {
                font-size: 40px;
                padding-bottom: 30px;
            }

            .card_inner {
                padding: 30px 20px;
            }
        }

    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .home_cards_section {
        padding-top: 40px;

        .parent_area {
            h3 {
                font-size: 35px;
                padding-bottom: 30px;
            }

            .card_inner {
                padding: 30px 20px;

                h3 {
                    font-size: 16px;
                    padding-top: 20px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .home_cards_section {
        padding-top: 30px;

        .parent_area {
            h3 {
                font-size: 30px;
                padding-bottom: 30px;
            }

            .card_inner {
                padding: 30px 20px;
                border-radius: 10px;

                &::before {
                    border-radius: 15px;
                }

                &.card_2 {
                    margin-top: 0%;
                }

                &.card_3 {
                    margin-top: 0%;
                }

                &.card_5 {
                    margin-top: 0%;
                }

                &.card_6 {
                    margin-top: 0%;
                }

                h3 {
                    font-size: 16px;
                    padding-top: 20px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .home_cards_section {
        padding-top: 25px;

        .parent_area {
            h3 {
                font-size: 25px;
                padding-bottom: 20px;
            }

            .card_inner {
                padding: 30px 20px;
                border-radius: 10px;

                &::before {
                    border-radius: 15px;
                }

                &.card_2 {
                    margin-top: 0%;
                }

                &.card_3 {
                    margin-top: 0%;
                }

                &.card_5 {
                    margin-top: 0%;
                }

                &.card_6 {
                    margin-top: 0%;
                }

                h3 {
                    font-size: 16px;
                    padding-top: 20px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .home_cards_section {
        padding-top: 25px;

        .parent_area {
            h3 {
                font-size: 25px;
                padding-bottom: 20px;
            }

            .card_inner {
                padding: 30px 20px;
                border-radius: 10px;

                &::before {
                    border-radius: 15px;
                }

                &.card_2 {
                    margin-top: 0%;
                }

                &.card_3 {
                    margin-top: 0%;
                }

                &.card_5 {
                    margin-top: 0%;
                }

                &.card_6 {
                    margin-top: 0%;
                }

                h3 {
                    font-size: 16px;
                    padding-top: 20px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}