@use "../base/variable.scss";
@use "../base/mixins.scss";


.home_ai {
    overflow-x: clip;
    padding-top: 90px;
    position: relative;

    .gradient_big {
        top: 0;
        right: 0;
    }

    .parent_area {
        display: flex;
        align-items: flex-end;
        gap: 19px;

        .left {
            flex-grow: 1;

            h3 {
                font-weight: 300;
                margin-bottom: 35px;
                font-size: 60px;
                color: variable.$white;

                strong {
                    font-weight: 700;
                }
            }

            p {
                font-weight: 400;
                font-size: 18px;
                color: variable.$white;
                margin-bottom: 60px;
            }

            ul {
                display: flex;
                gap: 19px;
                flex-wrap: wrap;

                li {
                    width: calc((100% / 2) - 19px);
                    padding: 30px 17px;
                    border-radius: 10px;
                    flex-grow: 1;
                    flex-shrink: 0;
                    background-color: #0D0D0D;
                    border: 0.84px solid #FFFFFF33;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        box-shadow: 0px 0px 0.72px 0px #6BE6E4, 0px 0px 1.45px 0px #6BE6E4, 0px 0px 5.07px 0px #6BE6E4, 0px 0px 10.15px 0px #6BE6E4, 0px 0px 17.4px 0px #6BE6E4, 0px 0px 30.44px 0px #6BE6E4;
                    }

                    .img_wrapper {
                        width: 46px;
                        height: 46px;
                        margin-inline: auto;
                        border-radius: 8.39px;
                        background-color: variable.$white;
                        margin-bottom: 20px;
                        padding: 5px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 16px;
                        text-align: center;
                        color: variable.$white;
                        margin-bottom: 6px;
                    }

                    p {
                        font-weight: 400;
                        font-size: 13.42px;
                        line-height: 19.29px;
                        color: variable.$white;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .right {
            flex-shrink: 0;
            width: 700px;

            .img_wrapper {
                margin-right: -100px;
                animation: glow 1.5s infinite alternate;
                border-radius: 15px;
                overflow: hidden;
                height: 568px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .btn_area {
        margin-top: 90px;

        .btn-primary {
            box-shadow: 0px 0px 0.72px 0px #6BE6E4, 0px 0px 1.45px 0px #6BE6E4, 0px 0px 5.07px 0px #6BE6E4, 0px 0px 10.15px 0px #6BE6E4, 0px 0px 17.4px 0px #6BE6E4, 0px 0px 30.44px 0px #6BE6E4;
        }
    }
}


@keyframes glow {
    from {
        box-shadow: 0 0 10px #F7BA2B, 0 0 20px #F7BA2B, 0 0 30px #F7BA2B,
            0 0 40px #F7BA2B;
    }

    to {
        box-shadow: 0 0 15px #775AFF, 0 0 15px #775AFF, 0 0 15px #775AFF,
            0 0 15px #775AFF;
    }
}





/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .home_ai {
        .parent_area {
            .left {
                h3 {
                    margin-bottom: 30px;
                    font-size: 50px;
                }

                p {
                    margin-bottom: 30px;
                }
            }

            .right {
                width: 600px;

                .img_wrapper {
                    height: 500px;
                }
            }
        }

        .btn_area {
            margin-top: 70px;
        }
    }
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .home_ai {
        padding-top: 70px;

        .parent_area {
            .left {
                h3 {
                    margin-bottom: 30px;
                    font-size: 50px;
                }

                p {
                    margin-bottom: 30px;
                }
            }

            .right {
                width: 600px;

                .img_wrapper {
                    height: 500px;
                }
            }
        }

        .btn_area {
            margin-top: 70px;
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .home_ai {
        padding-top: 70px;

        .parent_area {
            .left {
                h3 {
                    margin-bottom: 30px;
                    font-size: 50px;
                }

                p {
                    margin-bottom: 30px;
                }
            }

            .right {
                width: 600px;

                .img_wrapper {
                    height: 500px;
                }
            }
        }

        .btn_area {
            margin-top: 70px;
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .home_ai {
        padding-top: 50px;

        .parent_area {
            flex-direction: column;
            row-gap: 25px;

            .left {
                h3 {
                    margin-bottom: 25px;
                    font-size: 40px;
                }

                p {
                    margin-bottom: 30px;
                }
            }

            .right {
                width: 70%;
                margin-inline: auto;

                .img_wrapper {
                    margin-right: 0;
                    height: 500px;
                }
            }
        }

        .btn_area {
            margin-top: 50px;
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .home_ai {
        padding-top: 40px;

        .parent_area {
            flex-direction: column;
            row-gap: 25px;

            .left {
                h3 {
                    margin-bottom: 25px;
                    font-size: 35px;
                }

                p {
                    margin-bottom: 30px;
                }
            }

            .right {
                width: 90%;
                margin-inline: auto;

                .img_wrapper {
                    margin-right: 0;
                    height: 500px;
                }
            }
        }

        .btn_area {
            margin-top: 40px;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .home_ai {
        padding-top: 30px;

        .parent_area {
            flex-direction: column;
            row-gap: 25px;

            .left {
                h3 {
                    margin-bottom: 15px;
                    font-size: 25px;
                }

                p {
                    margin-bottom: 15px;
                    font-size: 16px;
                }

                ul {
                    gap: 15px;
                }
            }

            .right {
                width: 100%;

                .img_wrapper {
                    margin-right: 0;
                    height: 450px;
                }
            }
        }

        .btn_area {
            margin-top: 30px;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .home_ai {
        padding-top: 25px;

        .parent_area {
            flex-direction: column;
            row-gap: 25px;

            .left {
                h3 {
                    margin-bottom: 15px;
                    font-size: 22px;
                }

                p {
                    margin-bottom: 15px;
                    font-size: 14px;
                }

                ul {
                    gap: 20px;

                    li {
                        width: 100%;
                    }
                }
            }

            .right {
                width: 100%;

                .img_wrapper {
                    margin-right: 0;
                    height: 250px;
                }
            }
        }

        .btn_area {
            margin-top: 55px;
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .home_ai {
        padding-top: 25px;

        .parent_area {
            flex-direction: column;
            row-gap: 25px;

            .left {
                h3 {
                    margin-bottom: 15px;
                    font-size: 22px;
                }

                p {
                    margin-bottom: 15px;
                    font-size: 14px;
                }

                ul {
                    gap: 20px;

                    li {
                        width: 100%;
                    }
                }
            }

            .right {
                width: 100%;

                .img_wrapper {
                    margin-right: 0;
                    height: 250px;
                }
            }
        }

        .btn_area {
            margin-top: 55px;
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}