@use "../base/variable.scss";
@use "../base/mixins.scss";




.header_section {
    padding: 40px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    .parent_area {
        display: flex;
        align-items: center;

        .logo_area {
            height: 82px;
            width: 82px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .list_area {
            flex-grow: 1;

            ul {
                display: flex;
                justify-content: center;

                li {
                    padding: 0 23px;
                    border-right: 1px solid variable.$border_color;

                    &.last_item {
                        a {

                            background: linear-gradient(90deg, #EAB03D 0%, #9543E5 100%);
                            color: transparent;
                            background-clip: text;

                            &:hover {
                                background: linear-gradient(90deg, #EAB03D 0%, #9543E5 100%) !important;
                                color: transparent;
                                background-clip: text !important;
                                opacity: .7;
                            }
                        }
                    }

                    &.active {
                        a {
                            color: transparent;
                            background-clip: text;
                            background-image: linear-gradient(270deg, rgba(56, 174, 153, 0.76) -19.44%, rgba(255, 255, 255, 0.76) 115.74%);
                        }
                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                        border: 0;
                    }

                    a {
                        display: inline-block;
                        color: variable.$white;
                        font-size: 18px;
                        font-weight: 400;
                        @include mixins.transition (all 0.3s ease-in-out);

                        &:hover {
                            color: transparent;
                            background-clip: text;
                            background-image: linear-gradient(270deg, rgba(56, 174, 153, 0.76) -19.44%, rgba(255, 255, 255, 0.76) 115.74%);
                        }
                    }

                    .dropdown {
                        .dropdown-toggle {
                            padding: 0;
                            border: none;
                            background-color: unset;

                            &::after {
                                display: none;
                            }
                        }

                        .dropdown-menu {
                            background: linear-gradient(175.49deg, rgb(43, 175, 151)100%, rgba(69, 255, 209) 100%);
                            box-shadow: 0px 24px 32px 4px #A7AEBA1F, 0px 4px 4px 0px #00000040;
                            padding: 30px 28px;
                            border-radius: 16px;
                            opacity: 0;
                            transition: all 0.5s ease;
                            z-index: -9;
                            
                            a {
                                color: variable.$black;
                                margin-bottom: 16px;
                                &:focus{
                                    background: transparent;
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                &:active{
                                    background-color: transparent;
                                }
                                &:hover {
                                    color: variable.$white;
                                }
                            }
                        }

                        &:hover {
                            .dropdown-menu {
                                opacity: 1;
                                z-index: 55;
                            }
                        }
                    }
                }
            }
        }

        .menu_area {
            i {
                font-size: 30px;
                color: variable.$white;
            }
        }
    }

    .responsive_header {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: variable.$secondary_color;
        height: 100vh;
        z-index: 9;
        padding: 12px 12px;
        @include mixins.translate(-100%);
        @include mixins.transition(all .3s ease-in-out);

        &.show {
            @include mixins.translate(0);
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                padding: 10px 0px;

                &.last_item {
                    a {

                        background: linear-gradient(90deg, #EAB03D 0%, #9543E5 100%);
                        color: transparent;
                        background-clip: text;

                        &:hover {
                            background: linear-gradient(90deg, #EAB03D 0%, #9543E5 100%) !important;
                            color: transparent;
                            background-clip: text !important;
                            opacity: .7;
                        }
                    }
                }

                &.active {
                    a {
                        color: transparent;
                        background-clip: text;
                        background-image: linear-gradient(270deg, rgba(56, 174, 153, 0.76) -19.44%, rgba(255, 255, 255, 0.76) 115.74%);
                    }
                }

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                a {
                    display: inline-block;
                    color: variable.$white;
                    font-size: 18px;
                    font-weight: 400;
                    @include mixins.transition (all 0.3s ease-in-out);

                    &:hover {
                        color: transparent;
                        background-clip: text;
                        background-image: linear-gradient(270deg, rgba(56, 174, 153, 0.76) -19.44%, rgba(255, 255, 255, 0.76) 115.74%);
                    }
                }
            }
        }
    }
}



/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .header_section {
        padding: 25px 0;
        .parent_area {
            .logo_area {
                height: 70px;
                width: 70px;
            }

            .list_area {
                ul {
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .header_section {
        padding: 25px 0;
        .parent_area {
            .logo_area {
                height: 70px;
                width: 70px;
            }

            .list_area {
                ul {
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .header_section {
        padding: 25px 0;
        .parent_area {
            .logo_area {
                height: 70px;
                width: 70px;
            }

            .list_area {
                ul {
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .header_section {
        padding: 25px 0;

        .parent_area {
            .logo_area {
                height: 70px;
                width: 70px;
            }

            .list_area {
                ul {
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .header_section {
        padding: 25px 0;

        .parent_area {
            justify-content: space-between;
            align-items: start;

            .logo_area {
                height: 70px;
                width: 70px;
            }

            .list_area {
                display: none;

                ul {
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .header_section {
        padding: 15px 0;

        .parent_area {
            justify-content: space-between;
            align-items: start;

            .logo_area {
                height: 60px;
                width: 60px;
            }

            .list_area {
                display: none;

                ul {
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .responsive_header {
            top: 90px;

            ul {
                li {
                    padding: 7px 0;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .header_section {
        padding: 15px 0;

        .parent_area {
            justify-content: space-between;
            align-items: start;

            .logo_area {
                height: 60px;
                width: 60px;
            }

            .list_area {
                display: none;

                ul {
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .responsive_header {
            top: 90px;

            ul {
                li {
                    padding: 7px 0;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .header_section {
        padding: 15px 0;

        .parent_area {
            justify-content: space-between;
            align-items: start;

            .logo_area {
                height: 60px;
                width: 60px;
            }

            .list_area {
                display: none;

                ul {
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .responsive_header {
            top: 90px;

            ul {
                li {
                    padding: 7px 0;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}