@use "../base/variable.scss";
@use "../base/mixins.scss";

.modal {
    .modal-dialog {
        .modal-content {
            // background-color: variable.$modal_color;
            background: radial-gradient(48.96% 68.85% at 50% 65.38%, #009687 0%, #010015 100%);
            border-radius: 10px;
            .modal-header {
                padding: 12px 15px;
                justify-content: flex-end;
                border: none;
                .icon{
                    color: variable.$primary_color;
                    font-size: 20px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .modal-body {
                border: none;
            }

            .modal-footer {
                border: none;
                justify-content: center;
                .btn{
                    border: none;
                }
            }
        }
    }
}






/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {}

/* Smaller phones */
@media (max-width: 360px) {}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}