@use "../base/variable.scss";
@use "../base/mixins.scss";




.solution_cost_section {
    padding-top: 100px;
    position: relative;

    .parent_area {
        .left_area {
            .button_area {
                padding-top: 20px;

            }

            h3 {
                font-weight: 400;
                font-size: 64px;
                text-transform: capitalize;
                color: variable.$white;

                span {
                    color: variable.$sea_green;
                    font-weight: 700;
                }
            }

            p {
                font-weight: 400;
                font-size: 32px;
                color: variable.$white;
                padding-top: 20px;
            }
        }

        .right_area {
            .image_area {
                height: 500px;
                width: 500px;
                margin-left: auto;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .contact_gradient {
        right: -500px;
        bottom: 0;
    }
}

.solition_talk_section {
    padding-top: 90px;
    position: relative;

    .parent_area {
        .left_area {

            h3 {
                font-weight: 250;
                font-size: 70px;
                text-transform: capitalize;
                color: variable.$white;

                span {
                    font-weight: 700;
                    color: variable.$sea_green;
                }
            }

            h4 {
                font-weight: 300;
                font-size: 48px;
                color: variable.$white;
                text-wrap: balance;

                span {
                    color: variable.$sea_green;
                }
            }

            .button_area {
                padding-top: 30px;

                .btn-black {
                    box-shadow: 0 0 .72px 0 #6be6e4, 0 0 1.45px 0 #6be6e4, 0 0 5.07px 0 #6be6e4, 0 0 10.15px 0 #6be6e4, 0 0 17.4px 0 #6be6e4, 0 0 30.44px 0 #6be6e4;
                }
            }
        }

        .right_area {
            width: 487px;
            max-width: 100%;
            border: 2px solid #00C8FF;
            margin-left: auto;
            border-radius: 15px;
            background: linear-gradient(274.2deg, rgba(247, 247, 247, 0.1) -0.59%, rgba(79, 79, 79, 0.1) 100%);

            p {
                font-weight: 300;
                font-size: 22px;
                // text-align: center;
                padding: 40px 30px;
                color: variable.$white;
            }
        }
    }

    .contact_gradient {
        bottom: 0;
        left: -500px;
    }
}



/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .solution_cost_section {
        .parent_area {
            .left_area {
                h3 {
                    font-size: 50px;
                }

                p {
                    font-size: 24px;
                }
            }

            .right_area {
                .image_area {
                    height: 400px;
                    width: 400px;
                }
            }
        }
    }

    .solition_talk_section {
        padding-top: 70px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 60px;
                }

                h4 {
                    font-size: 40px;
                }
            }

            .right_area {
                width: 450px;

                p {
                    font-size: 22px;
                    padding: 40px 30px;
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .solution_cost_section {
        .parent_area {
            .left_area {
                h3 {
                    font-size: 50px;
                }

                p {
                    font-size: 24px;
                }
            }

            .right_area {
                .image_area {
                    height: 400px;
                    width: 400px;
                }
            }
        }
    }

    .solition_talk_section {
        padding-top: 70px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 60px;
                }

                h4 {
                    font-size: 40px;
                }
            }

            .right_area {
                width: 450px;

                p {
                    font-size: 22px;
                    padding: 40px 30px;
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .solution_cost_section {
        padding-top: 70px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 40px;
                }

                p {
                    font-size: 22px;
                }
            }

            .right_area {
                .image_area {
                    height: 300px;
                    width: 300px;
                }
            }
        }
    }

    .solition_talk_section {
        padding-top: 50px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 50px;
                }

                h4 {
                    font-size: 30px;
                }
            }

            .right_area {
                width: 400px;

                p {
                    font-size: 18px;
                    padding: 30px 40px;
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .solution_cost_section {
        padding-top: 50px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 30px;
                }

                p {
                    font-size: 18px;
                }
            }

            .right_area {
                .image_area {
                    height: 250px;
                    width: 250px;
                }
            }
        }
    }

    .solition_talk_section {
        padding-top: 40px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 40px;
                }

                h4 {
                    font-size: 25px;
                }
            }

            .right_area {
                width: 320px;

                p {
                    font-size: 16px;
                    padding: 30px 40px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .solution_cost_section {
        padding-top: 40px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 25px;
                }

                p {
                    font-size: 14px;
                    padding-top: 10px;
                }
            }

            .right_area {
                .image_area {
                    height: 250px;
                    width: 250px;
                }
            }
        }
    }


    .solition_talk_section {
        padding-top: 30px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 35px;
                }

                h4 {
                    font-size: 25px;
                }
            }

            .right_area {
                width: 100%;

                p {
                    font-size: 16px;
                    padding: 25px 30px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .solution_cost_section {
        padding-top: 30px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 22px;
                }

                p {
                    font-size: 14px;
                    padding-top: 10px;
                }
            }

            .right_area {
                .image_area {
                    height: 350px;
                    width: 100%;
                }
            }
        }
    }

    .solition_talk_section {
        padding-top: 30px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 30px;
                }

                h4 {
                    font-size: 20px;
                }

                .button_area {
                    padding-top: 15px;
                }
            }

            .right_area {
                margin-top: 25px;
                width: 100%;

                p {
                    font-size: 14px;
                    padding: 20px 20px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .solution_cost_section {
        padding-top: 30px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 22px;
                }

                p {
                    font-size: 14px;
                    padding-top: 10px;
                }
            }

            .right_area {
                .image_area {
                    height: 350px;
                    width: 100%;
                }
            }
        }
    }

    .solition_talk_section {
        padding-top: 30px;

        .parent_area {
            .left_area {
                h3 {
                    font-size: 30px;
                }

                h4 {
                    font-size: 20px;
                }

                .button_area {
                    padding-top: 15px;
                }
            }

            .right_area {
                margin-top: 25px;
                width: 100%;

                p {
                    font-size: 14px;
                    padding: 20px 20px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}