@use "../base/variable.scss";
@use "../base/mixins.scss";


.solution_about_section{
    padding-top: 90px;
    .parent_area{
        .left_area{
            h3{
                font-size: 52px;
                font-weight: 600;
                color: variable.$white;
                width: 60%;
                span{
                    &.blue{
                        color: variable.$blue;
                    }
                    &.green{
                        color: variable.$primary_color;
                    }
                }
            }
        }
        .right_area{
            h3{
                font-family: variable.$saira;
                font-size: 60px;
                font-weight: 700;
                color: variable.$white;
            }
            p{
                padding-top: 20px;
                color: variable.$text_opacity;
                font-size: 19px;
                font-weight: 400;
                line-height: 30.59px;
            }
            a{
                // background: variable.$off_white;
                // color: variable.$primary_color;
                font-size: 14px;
                font-weight: 500;
                display: inline-block;
                margin-top: 20px;
                &:hover{
                    background: variable.$off_white;
                }
            }
        }
    }
}





/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .solution_about_section{
        padding-top: 70px;
        .parent_area{
            .left_area{
                h3{
                    font-size: 45px
                }
            }
            .right_area{
                h3{
                    font-size: 50px
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .solution_about_section{
        padding-top: 70px;
        .parent_area{
            .left_area{
                h3{
                    font-size: 45px
                }
            }
            .right_area{
                h3{
                    font-size: 50px
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.solution_about_section{
        padding-top: 50px;
        .parent_area{
            .left_area{
                h3{
                    font-size: 40px;
                    width:80%;
                }
            }
            .right_area{
                h3{
                    font-size: 45px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.solution_about_section{
        padding-top: 40px;
        .parent_area{
            .left_area{
                h3{
                    font-size: 32px;
                    width:100%;
                }
            }
            .right_area{
                h3{
                    font-size: 42px;
                }
                p{
                    font-size: 16px;
                    padding-top: 10px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.solution_about_section{
        padding-top: 30px;
        .parent_area{
            .left_area{
                h3{
                    font-size: 27px;
                    width:100%;
                }
            }
            .right_area{
                h3{
                    font-size: 35px;
                }
                p{
                    font-size: 14px;
                    padding-top: 10px;
                    line-height: 22px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.solution_about_section{
        padding-top: 25px;
        .parent_area{
            .left_area{
                h3{
                    font-size: 27px;
                    width:100%;
                }
            }
            .right_area{
                padding-top: 15px;
                h3{
                    font-size: 35px;
                }
                p{
                    font-size: 14px;
                    padding-top: 10px;
                    line-height: 22px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.solution_about_section{
        padding-top: 25px;
        .parent_area{
            .left_area{
                h3{
                    font-size: 27px;
                    width:100%;
                }
            }
            .right_area{
                padding-top: 15px;
                h3{
                    font-size: 35px;
                }
                p{
                    font-size: 14px;
                    padding-top: 10px;
                    line-height: 22px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {
    
}