@use "../base/variable.scss" as variable;
@use "../base/mixins.scss" as mixins;


.layout_main {
    display: flex;
    height: 100%;

    .left_main {
        width: 260px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        margin-right: 0;
        margin-left: 0;
        z-index: 999;
        background-color: variable.$white;

    }

    .right_main {
        margin-left: 260px;
        width: calc(100% - 260px);

        &>.bar_icon {
            font-size: 20px;
            color: variable.$white;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }
}


.right_inner {
    padding: 30px 20px;
    @include mixins.clearfix();

    .left_side {
        float: left;
        width: 60%;
        padding-right: 20px;
    }

    .right_side {
        float: right;
        width: calc(100% - 60%);
    }
}

/** Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .layout_main {
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1000;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }

        .left_main {
            width: 230px;
            margin-left: -230px;
            transition: transform 0.3s ease-in-out;
            z-index: 1000;

            &.open {
                transform: translateX(230px);
            }
        }

        .right_main {
            width: 100%;
            margin-left: 0px;
        }
    }

    // .layout_main {
    //     .left_main {
    //         width: 230px;
    //     }

    //     .right_main {
    //         width: calc(100% - 230px);
    //         margin-left: 230px;
    //     }
    // }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .layout_main {
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1000;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }

        .left_main {
            width: 230px;
            margin-left: -230px;
            transition: transform 0.3s ease-in-out;
            z-index: 1000;

            &.open {
                transform: translateX(230px);
            }
        }

        .right_main {
            width: 100%;
            margin-left: 0px;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .layout_main {
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1000;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }

        .left_main {
            width: 230px;
            margin-left: -230px;
            transition: transform 0.3s ease-in-out;
            z-index: 1000;

            &.open {
                transform: translateX(230px);
            }
        }

        .right_main {
            width: 100%;
            margin-left: 0px;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .layout_main {
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1000;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }

        .left_main {
            width: 230px;
            margin-left: -230px;
            transition: transform 0.3s ease-in-out;
            z-index: 1000;

            &.open {
                transform: translateX(230px);
            }
        }

        .right_main {
            width: 100%;
            margin-left: 0px;
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .layout_main {
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1000;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }

        .left_main {
            width: 230px;
            margin-left: -230px;
            transition: transform 0.3s ease-in-out;
            z-index: 1000;

            &.open {
                transform: translateX(230px);
            }
        }

        .right_main {
            width: 100%;
            margin-left: 0px;
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}