@use "../base/variable.scss";
@use "../base/mixins.scss";

.about_make_different_section{
    padding-top: 90px;
    .parent_area{
        h3{
            font-weight: 275;
            font-size: 64px;
            text-align: center;
            color: variable.$white;
        }
        .slider_area{
            padding-top: 40px;
            .slide_inner{
                padding: 200px 40px;
                position: relative;
                .image_area{
                    z-index: -1;
                    position: absolute;
                    inset: 0;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .content_area{
                    width: 58%;
                    h4{
                        font-weight: 700;
                        font-size: 50px;
                        color: variable.$white;
                    }
                    h5{
                        font-weight: 500;
                        font-size: 38px;
                        color: variable.$primary_color;
                    }
                }
            }
        }
        .thumbs_area{
            padding: 20px 20px;
            .swiper-slide-thumb-active{
                .inner_area{
                    h3{
                        color: variable.$white;
                    }
                    p{
                        color: variable.$white;
                    }
                }
            }
            .inner_area{
                border-right: 1px solid #FFFFFF66;
                display: flex;
                gap: 10px;
                align-items: center;
                cursor: pointer;
                h3{
                    font-weight: 300;
                    font-size: 40px;
                    color: #FFFFFF66;
                }
                p{
                    font-weight: 700;
                    font-size: 18px;    
                    color: #FFFFFF66;                
                }
            }
        }
    }
}






/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    .about_make_different_section{
        .parent_area{
            h3{
                font-size: 50px;
            }
            .slider_area{
                .slide_inner{
                    padding: 180px 40px;
                    .content_area{
                        h4{
                            font-size: 40px;
                        }
                        h5{
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .about_make_different_section{
        padding-top: 70px;
        .parent_area{
            h3{
                font-size: 50px;
            }
            .slider_area{
                .slide_inner{
                    padding: 180px 40px;
                    .content_area{
                        h4{
                            font-size: 40px;
                        }
                        h5{
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .about_make_different_section{
        padding-top: 70px;
        .parent_area{
            h3{
                font-size: 50px;
            }
            .slider_area{
                .slide_inner{
                    padding: 180px 40px;
                    .content_area{
                        h4{
                            font-size: 40px;
                        }
                        h5{
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .about_make_different_section{
        padding-top: 50px;
        .parent_area{
            h3{
                font-size: 40px;
            }
            .thumbs_area{
                .inner_area{
                    h3{
                        font-size: 35px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
            .slider_area{
                padding-top: 25px;
                .slide_inner{
                    padding: 150px 40px;
                    .content_area{
                        h4{
                            font-size: 32px;
                        }
                        h5{
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .about_make_different_section{
        padding-top: 40px;
        .parent_area{
            h3{
                font-size: 30px;
            }
            .thumbs_area{
                .inner_area{
                    h3{
                        font-size: 28px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .slider_area{
                padding-top: 25px;
                .slide_inner{
                    padding: 80px 20px;
                    .content_area{
                        h4{
                            font-size: 28px;
                        }
                        h5{
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.about_make_different_section{
        padding-top: 30px;
        .parent_area{
            h3{
                font-size: 28px;
            }
            .thumbs_area{
                .inner_area{
                    h3{
                        font-size: 25px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .slider_area{
                padding-top: 20px;
                .slide_inner{
                    padding: 80px 20px;
                    .content_area{
                        width: 100%;
                        h4{
                            font-size: 22px;
                        }
                        h5{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.about_make_different_section{
        padding-top: 25px;
        .parent_area{
            h3{
                font-size: 22px;
            }
            .thumbs_area{
                .swiper-wrapper{
                    flex-direction: column;
                    gap: 15px;
                    .swiper-slide{
                        width: 100% !important;
                    }
                }
                .inner_area{
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .slider_area{
                padding-top: 20px;
                .slide_inner{
                    padding: 60px 20px;
                    .content_area{
                        width: 100%;
                        h4{
                            font-size: 20px;
                        }
                        h5{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.about_make_different_section{
        padding-top: 25px;
        .parent_area{
            h3{
                font-size: 22px;
            }
            .thumbs_area{
                .swiper-wrapper{
                    flex-direction: column;
                    gap: 15px;
                    .swiper-slide{
                        width: 100% !important;
                    }
                }
                .inner_area{
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .slider_area{
                padding-top: 20px;
                .slide_inner{
                    padding: 60px 20px;
                    .content_area{
                        width: 100%;
                        h4{
                            font-size: 20px;
                        }
                        h5{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {
    
}