@use "../base/variable.scss";
@use "../base/mixins.scss";


.about_banner_section {
    height: 700px;
    background: url('../../images/about_banner_bg.png') no-repeat top left / 60%;
    height: 100dvh;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        inset: 0;
        background: url('../../images/about_banner_bg2.png') no-repeat center / 100% 100%;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .parent_area {
        height: 70%;
        align-content: center;
        display: flex;
        // width: 673px;
        // max-width: 100%;

        // margin-left: auto;
        .button_area {
            a {
                padding: 8px 16px;
                border-radius: 60px;
                display: flex;
                align-items: center;
                width: fit-content;
                gap: 30px;
                border: 1px solid variable.$white2;
                color: variable.$white2;
                margin-left: auto;

                .logo_area {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 20px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: variable.$white2;

                    }
                }
            }
        }

        .left {
            width: 673px;
            max-width: 100%;
            align-content: end;
            flex-shrink: 0;

            h3 {
                padding-top: 10px;
                background: linear-gradient(90.4deg, #FEFEFE 0.35%, #45FFD0 145.96%);
                font-size: 50.33px;
                font-weight: 500;
                // text-align: right;
                color: transparent;
                background-size: 300% 300%;
                background-clip: text;
                -webkit-background-clip: text;
                animation: gradient-move 3s infinite linear;
            }

            h4 {
                font-weight: 500;
                font-size: 38px;
                color: variable.$white;
            }
        }

        .right {
            flex-grow: 1;
            align-content: flex-end;

            p {
                font-size: 16px;
                font-weight: 400;
                text-align: right;
                color: variable.$white2;
                padding-top: 8px;
            }

            .intro_btn {
                display: flex;
                justify-content: flex-end;
                padding-top: 10px;

                a {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 400;
                    color: variable.$btn_white_color;
                    background-color: variable.$primary_color;
                    padding: 14px 55px;
                    border-radius: 60px;
                    position: relative;

                    .icon_area {
                        position: absolute;
                        background-color: variable.$white2;
                        height: 45px;
                        width: 45px;
                        border-radius: 50%;
                        right: 4px;
                        top: 4px;
                        color: variable.$btn_white_color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}




/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .about_banner_section {
        height: 570px;

        .parent_area {
            padding-top: 100px;

            .left {
                width: 500px;

                h3 {
                    font-size: 40px;
                }

                h4 {
                    font-size: 28px;
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .about_banner_section {
        height: 570px;

        .parent_area {
            padding-top: 100px;

            .left {
                width: 500px;

                h3 {
                    font-size: 40px;
                }

                h4 {
                    font-size: 28px;
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .about_banner_section {
        height: 500px;

        .parent_area {
            padding-top: 80px;

            .button_area {
                a {
                    gap: 15px;
                }
            }

            .left {
                width: 420px;

                h3 {
                    font-size: 35px;
                }

                h4 {
                    font-size: 28px;
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .about_banner_section {
        height: 500px;

        .parent_area {
            padding-top: 80px;
            height: 80%;

            .button_area {
                a {
                    gap: 15px;
                }
            }

            .left {
                width: 380px;

                h3 {
                    font-size: 35px;
                }

                h4 {
                    font-size: 28px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .about_banner_section {
        height: 380px;

        .parent_area {
            padding-top: 60px;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .button_area {
                a {
                    gap: 15px;
                    margin: 0 auto;

                    .logo_area {
                        margin-right: 5px;
                    }
                }
            }

            .left {

                width: 100%;

                h3 {
                    font-size: 28px;
                    text-align: center;
                }

                h4 {
                    font-size: 22px;
                    padding-top: 5px;
                    text-align: center;
                }
            }

            .right {
                flex-grow: unset;

                p {
                    font-size: 14px;
                    text-align: center;
                }

                .intro_btn {
                    justify-content: center;

                    a {
                        font-size: 14px;
                        padding: 12px 48px;

                        .icon_area {
                            height: 38px;
                            width: 38px;
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .about_banner_section {
        padding-bottom: 25px;
        height: 100%;

        .parent_area {
            padding-top: 100px;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .button_area {
                a {
                    gap: 15px;
                    margin: 0 auto;

                    .logo_area {
                        margin-right: 5px;
                    }
                }
            }

            .left {
                width: 100%;

                h3 {
                    font-size: 22px;
                    text-align: center;
                }

                h4 {
                    font-size: 20px;
                    padding-top: 5px;
                    text-align: center;
                }
            }

            .right {
                p {
                    font-size: 14px;
                    text-align: center;
                }

                .intro_btn {
                    justify-content: center;

                    a {
                        font-size: 14px;
                        padding: 12px 48px;

                        .icon_area {
                            height: 38px;
                            width: 38px;
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .about_banner_section {
        padding-bottom: 25px;
        height: 100%;

        .parent_area {
            padding-top: 100px;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .button_area {
                a {
                    gap: 15px;
                    margin: 0 auto;

                    .logo_area {
                        margin-right: 5px;
                    }
                }
            }

            .left {
                width: 100%;

                h3 {
                    font-size: 22px;
                    text-align: center;
                }

                h4 {
                    font-size: 20px;
                    padding-top: 5px;
                    text-align: center;
                }
            }

            .right {
                p {
                    font-size: 14px;
                    text-align: center;
                }

                .intro_btn {
                    justify-content: center;

                    a {
                        font-size: 14px;
                        padding: 12px 48px;

                        .icon_area {
                            height: 38px;
                            width: 38px;
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}