@use "../base/variable.scss";
@use "../base/mixins.scss";

.about_work_together_section{
    margin-top: 90px;
    padding: 120px 0;
    background-color: variable.$primary_color;
    overflow-x: clip;
    .parent_area{
        .button_area{
            text-align: center;
            a{
                border: 1px solid variable.$black;
            }
        }
        h3{
            font-size: 48.33px;
            font-weight: 500;
            color:variable.$black;
            text-align: center;
            padding-top: 20px;
        }
        .text_area_wrapper{
            display: flex;
            flex-wrap: nowrap;
            .text_area{
                display: flex;
                align-items: center;
                gap: 60px;
                flex-shrink: 0;
                width: auto;
                animation: moveText 10s linear infinite;
                p{
                    font-size: 96.67px;
                    font-style: italic;
                    font-weight: 500;
                    color:variable.$black;
                    padding-top: 40px;
                    padding-left: 60px;
                }
                .icon_area{
                    height: 78px;
                    width: 78px;
                    position: relative;
                    // top: 30px;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}




@keyframes moveText {
    0% {
        transform: translateX(-10%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .about_work_together_section{
        padding: 100px 0;
        margin-top: 70px;
        .parent_area{
            h3{
                font-size: 35px;
            }
            .text_area_wrapper{
                .text_area{
                    p{
                        font-size: 75px;
                    }
                }
            }

        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .about_work_together_section{
        padding: 100px 0;
        margin-top: 70px;
        .parent_area{
            h3{
                font-size: 35px;
            }
            .text_area_wrapper{
                .text_area{
                    p{
                        font-size: 75px;
                    }
                }
            }

        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.about_work_together_section{
        padding: 80px 0;
        margin-top: 50px;
        .parent_area{
            h3{
                font-size: 30px;
            }
            .text_area_wrapper{
                .text_area{
                    gap: 30px;
                    p{
                        font-size: 55px;
                        padding-left: 30px;
                        padding-top: 20px;
                    }
                    .icon_area{
                        height: 50px;
                        width: 50px;
                        // top: 10px;
                    }
                }
            }

        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.about_work_together_section{
        padding: 60px 0;
        margin-top: 40px;
        .parent_area{
            h3{
                font-size: 25px;
            }
            .text_area_wrapper{
                .text_area{
                    gap: 30px;
                    p{
                        font-size: 50px;
                        padding-left: 30px;
                        padding-top: 20px;
                    }
                    .icon_area{
                        height: 50px;
                        width: 50px;
                        // top: 10px;
                    }
                }
            }

        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.about_work_together_section{
        padding: 40px 0;
        margin-top: 30px;
        .parent_area{
            h3{
                font-size: 20px;
            }
            .text_area_wrapper{
                .text_area{
                    gap: 20px;
                    p{
                        font-size: 35px;
                        padding-left: 20px;
                        padding-top: 10px;
                    }
                    .icon_area{
                        height: 30px;
                        width: 30px;
                        // top: 10px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.about_work_together_section{
        padding: 30px 0;
        margin-top: 25px;
        .parent_area{
            h3{
                font-size: 18px;
                padding-top: 10px;
            }
            .text_area_wrapper{
                .text_area{
                    gap: 15px;
                    p{
                        font-size: 30px;
                        padding-left: 15px;
                        padding-top: 10px;
                    }
                    .icon_area{
                        height: 30px;
                        width: 30px;
                        // top: 6px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.about_work_together_section{
        padding: 30px 0;
        margin-top: 25px;
        .parent_area{
            h3{
                font-size: 18px;
                padding-top: 10px;
            }
            .text_area_wrapper{
                .text_area{
                    gap: 15px;
                    p{
                        font-size: 30px;
                        padding-left: 15px;
                        padding-top: 10px;
                    }
                    .icon_area{
                        height: 30px;
                        width: 30px;
                        // top: 6px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {
    
}