@use "../base/variable.scss";
@use "../base/mixins.scss";


.about_vision_section{
    padding-top: 90px;
    .parent_area{
        h3{
            font-weight: 500;
            font-size: 64px;
            text-align: center;
            color: variable.$white;
            span{
                color: variable.$primary_color;
            }
        }
        p{
            padding-top: 10px;
            font-weight: 500;
            font-size: 24px;
            text-align: center;
            color: variable.$white;
            width: 80%;
            margin: 0 auto;
        }
        .inner_area{
            padding-top: 90px;
            height: 100dvh;
            &.even{
                .left_area{
                    .image_area{
                        margin-left: auto;
                    }
                }
                .right_area{
                    h4{
                        text-align: left;
                    }
                    p{
                        text-align: left;
                    }
                }
            }
            .left_area{
                .image_area{
                    height: 320px;
                    width: 320px;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
            .right_area{
                h4{
                    font-weight: 600;
                    font-size: 40px;
                    text-align: right;
                    color: variable.$primary_color;
                }
                p{
                    font-weight: 300;
                    font-size: 30px;
                    text-align: right;
                    color: variable.$white;
                    padding-top: 10px;
                    width: 100%;
                }
            }
        }
    }
}





/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .about_vision_section{
        padding-top: 70px;
        .parent_area{
            h3{
                font-size: 50px;
            }
            p{
                font-size: 22px;
            }
            .inner_area{
                padding-top: 70px;
                .right_area{
                    h4{
                        font-size: 35px;
                    }
                    p{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .about_vision_section{
        padding-top: 70px;
        .parent_area{
            h3{
                font-size: 50px;
            }
            p{
                font-size: 22px;
            }
            .inner_area{
                padding-top: 70px;
                .right_area{
                    h4{
                        font-size: 35px;
                    }
                    p{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .about_vision_section{
        padding-top: 50px;
        .parent_area{
            h3{
                font-size: 40px;
            }
            p{
                font-size: 20px;
            }
            .inner_area{
                padding-top: 50px;
                .left_area{
                    .image_area{
                        height: 280px;
                        width: 280px;
                    }
                }
                .right_area{
                    h4{
                        font-size: 30px;
                    }
                    p{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.about_vision_section{
        padding-top: 40px;
        .parent_area{
            h3{
                font-size: 35px;
            }
            p{
                font-size: 20px;
            }
            .inner_area{
                padding-top: 40px;
                .left_area{
                    .image_area{
                        height: 250px;
                        width: 250px;
                    }
                }
                .right_area{
                    h4{
                        font-size: 28px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.about_vision_section{
        padding-top: 30px;
        .parent_area{
            h3{
                font-size: 28px;
            }
            p{
                font-size: 16px;
                width: 100%;
            }
            .inner_area{
                padding-top: 30px;
                .left_area{
                    .image_area{
                        height: 180px;
                        width: 180px;
                    }
                }
                .right_area{
                    h4{
                        font-size: 25px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.about_vision_section{
        padding-top: 30px;
        .parent_area{
            h3{
                font-size: 25px;
            }
            p{
                font-size: 14px;
                width: 100%;
            }
            .inner_area{
                padding-top: 30px;
                &.even{
                    .row{
                        flex-direction: column-reverse;
                    }
                }
                .left_area{
                    .image_area{
                        height: 220px;
                        width: 220px;
                        margin: 0 auto;
                    }
                }
                .right_area{
                    padding-top: 20px;
                    h4{
                        font-size: 22px;
                        text-align: left;
                    }
                    p{
                        font-size: 14px;
                        text-align: left;

                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.about_vision_section{
        padding-top: 30px;
        .parent_area{
            h3{
                font-size: 25px;
            }
            p{
                font-size: 14px;
                width: 100%;
            }
            .inner_area{
                padding-top: 30px;
                &.even{
                    .row{
                        flex-direction: column-reverse;
                    }
                }
                .left_area{
                    .image_area{
                        height: 220px;
                        width: 220px;
                        margin: 0 auto;
                    }
                }
                .right_area{
                    padding-top: 20px;
                    h4{
                        font-size: 22px;
                        text-align: left;
                    }
                    p{
                        font-size: 14px;
                        text-align: left;

                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {
    
}