@use "../base/variable.scss";
@use "../base/mixins.scss";



.video_section {
    padding-top: 90px;

    .parent_area {
        h3 {
            font-weight: 500;
            font-size: 54px;
            text-align: center;
            text-transform: capitalize;
            color: variable.$white;
        }

        .video_area {
            margin-top: 70px;
            position: relative;
            height: 100vh;

            .content {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;

                .top {
                    font-weight: 300;
                    font-size: 26px;
                    text-align: center;
                    text-transform: capitalize;
                    color: variable.$white;
                    width: 1220px;
                    max-width: 100%;
                    margin: 0 auto;
                    padding-block: 70px;

                    span {
                        font-weight: 700;
                        color: variable.$primary_color;
                    }
                }

                .box {
                    display: grid;
                    place-items: center;
                    flex-grow: 1;
                    background-color: #d9d9d9c4;
                    width: 100%;


                    .icon {
                        display: grid;
                        width: 45px;
                        height: 45px;
                        place-items: center;
                        background-color: variable.$primary_color;
                        border-radius: 50%;
                        color: variable.$black;
                        cursor: pointer;

                        svg {
                            font-size: 12px;
                        }
                    }
                }
            }


            .video_wrapper {
                width: 100%;
                height: 100%;

                img,
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}




/* Above 1920 desktop */
@media (min-width: 1920px) {}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
    .video_section {
        padding-top: 70px;

        .parent_area {
            h3 {
                font-size: 44px;
            }

            .video_area {
                margin-top: 50px;

                .content {
                    .top {
                        font-size: 22px;
                        padding-block: 50px;
                    }
                }
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
    .video_section {
        padding-top: 70px;

        .parent_area {
            h3 {
                font-size: 44px;
            }

            .video_area {
                margin-top: 50px;

                .content {
                    .top {
                        font-size: 22px;
                        padding-block: 50px;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .video_section {
        padding-top: 50px;

        .parent_area {
            h3 {
                font-size: 34px;
            }

            .video_area {
                margin-top: 40px;

                .content {
                    .top {
                        font-size: 20px;
                        padding-block: 40px;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .video_section {
        padding-top: 40px;

        .parent_area {
            h3 {
                font-size: 28px;
            }

            .video_area {
                margin-top: 30px;

                .content {
                    .top {
                        font-size: 18px;
                        padding-block: 30px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .video_section {
        padding-top: 30px;

        .parent_area {
            h3 {
                font-size: 24px;
            }

            .video_area {
                margin-top: 20px;

                .content {
                    .top {
                        font-size: 16px;
                        padding-block: 15px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .video_section {
        padding-top: 25px;

        .parent_area {
            h3 {
                font-size: 22px;
            }

            .video_area {
                margin-top: 15px;

                .content {
                    .top {
                        font-size: 14px;
                        padding-block: 15px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .video_section {
        padding-top: 25px;

        .parent_area {
            h3 {
                font-size: 22px;
            }

            .video_area {
                margin-top: 15px;

                .content {
                    .top {
                        font-size: 14px;
                        padding-block: 15px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {}