// Social Icons Color
$facebook: #284386;
$twitter: #1da1f2;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #bd0d21;
$instagram: #e1376f;
$transparent: transparent;

$black: #111111;
$white: #ffffff;
$grey: #605c5c;
$grey2: #566a7f;
$grey3: #8898aa;
$grey4: #384551;
$grey5: #646e78;
$grey6: #8592a3;
$light_grey: #e7e7ff;
$light_grey2: #dee2e6;
$light_grey3: #ffffff14;
$light_grey4: #a1acb8;
$light_grey5: #a7acb2;
$light_grey6: #ebeef0;
$placeholder_color: #b4bdc6;
$light_blue: #f6f9fc;
$light_blue2: #03c3ec;
$inputColor: #697a8d;
$border_color: #d9dee3;
$green: #71dd37;
$light_green: #e8fadf;
$dark_green: #1f8135;
$orange: #ff3e1d;
$light_orange: #ffe0db;
$primary_color: #696cff;
$red: #ec0822;
$red2: #ff3e1d;
$light_yellow: #fff2d6;
$yellow: #ffab00;