@use "../base/variable.scss";
@use "../base/mixins.scss";



.blog_newsletter_section{
    padding-top: 90px;
    position: relative;
    height: 1100px;
    .parent_area{
        h3{
            font-size: 70px;
            font-weight: 400;
            text-align: center;
            color: variable.$white;
        }
        p{
            font-size: 24px;
            font-weight: 400;
            color: variable.$txt_gray;
            text-align: center;
        }
        .image_area{
            position: absolute;
            inset: 0;
            z-index: 0;
            .link_area{
                opacity: 0;
                display: block;
                height: 200px;
                width: 300px;
                border: 1px solid red;
                position: absolute;
                left: 0;
                right: 0;
                top: 30%;
                margin: 0 auto;
                z-index: 2;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}




/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .blog_newsletter_section{
        
        padding-top: 70px;
        .parent_area{
            h3{
                font-size: 60px;
            }
        }
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .blog_newsletter_section{
        
        padding-top: 70px;
        .parent_area{
            h3{
                font-size: 60px;
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.blog_newsletter_section{
        height: 900px;
        padding-top: 50px;
        .parent_area{
            h3{
                font-size: 50px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.blog_newsletter_section{
        height: 700px;
        padding-top: 40px;
        .parent_area{
            h3{
                font-size: 35px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.blog_newsletter_section{
        height: 580px;
        padding-top: 30px;
        .parent_area{
            h3{
                font-size: 28px;
            }
            p{
                font-size: 16px;
            }
            .image_area{
                .link_area{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.blog_newsletter_section{
        height: 400px;
        padding-top: 25px;
        .parent_area{
            h3{
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
            .image_area{
                .link_area{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.blog_newsletter_section{
        height: 400px;
        padding-top: 25px;
        .parent_area{
            h3{
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
            .image_area{
                .link_area{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {
    
}